<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Family_Roots.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Family_Roots.Properties.Settings>
            <setting name="ConfigDirectory" serializeAs="String">
                <value>FamilyRoots</value>
            </setting>
            <setting name="DatabaseFile" serializeAs="String">
                <value>FamilyRoots.db</value>
            </setting>
        </Family_Roots.Properties.Settings>
    </applicationSettings>
</configuration>